<!-- wp:template-part {"slug":"header-with-banner","theme":"travelsite","area":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"travelsite/services-block"} /-->
  <!-- wp:pattern {"slug":"travelsite/cta-block"} /-->
  <!-- wp:pattern {"slug":"travelsite/pricing-block"} /-->
  <!-- wp:pattern {"slug":"travelsite/contact-newsletter"} /-->
  <!-- wp:pattern {"slug":"travelsite/testimonial-block"} /-->
  <!-- wp:pattern {"slug":"travelsite/travel-block"} /-->
  <!-- wp:pattern {"slug":"travelsite/post-block"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"travelsite"} /-->
